@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body{
    background-color: #ECF39E;
}
img{
    height: 6rem;
}
.heading{
    font-weight: bold;
    font-family: Indie flower;
    font-size: 4.5rem;
    color:#633A00;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    height: 8%;
    padding-top: 15px;
}
.last{
    position: absolute;
    bottom: 40px;
    right:20px;
    height:15rem;
    z-index:2;
}
/* .contact-body{
   position: absolute;
   
} */
.comment-box{
    margin-left: 10vw;
    width:80vw;
}
.comment-text{
    overflow: hidden;
    border-right: .15em solid #633A00; 
    font-size: 1.6rem;
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    width:80vw;
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end ;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #633A00; }
  }