@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&display=swap");
body {
  background-color: #ecf39e;
}
.heading {
  font-weight: bold;
  font-family: Indie flower;
  font-size: 4.5rem;
  color: #633a00;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 80px;
  padding-top: 15px;
}
.comment-box{
  margin-left: 10vw;
  width:80vw;
  margin-bottom: 20px;
}
.comment-text{
  overflow: hidden;
  border-right: .15em solid #633A00; 
  font-size: 1.6rem;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  width:80vw;
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end ;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #633A00; }
}
.early-box {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate( -50%);
  height: 24rem;
  width: 60rem;
  background-color: #457a3e;
  border-radius:2%;
  display:flex;
  padding: 10px;
  justify-content: space-between;
}
.early-img{
  position: absolute;
    height: 12rem;
    z-index: 2;
    bottom: 20px;
    right: 40px;
}

.early-box .early-content{
  display:flex;
  flex-direction: column;
  width:45rem;
  padding-left: 10px;
}
.checkbox{
  color:#ECF39E;
  font-size: 2rem;
  width:200px;
}
ul{
  margin-left:20px;
  margin-top: 6px;
  
}
ul li{
  margin: 0;
  position: relative;
  display: inline;
  float: left
  
}
ul li a{
  text-decoration: none;
  color:#ECF39E;
  display: block;
  padding: 2px 8px;
}
input{
  height: 22px;
  width: 22px;
}
.next-button{
  position: absolute;
  height: 3rem;
  width: 6rem;
  bottom: 20px;
  right:30px;
  font-size: 25px;
  cursor: pointer;
  background-color:#633A00;
  color: #ECF39E;
  padding-left:10px;
  padding-right:10px;
  /* border:2px solid #633A00; */
  border-radius: 15%;
  /* display: none; */
  z-index:2;
}